.main-btn{
    background-color: #FF4820;
    border-color: transparent;
    padding: 10px 25px;
    margin-right: 5px;
}

.main-btn:hover{
    background-color: #FF4820;
    opacity: 0.8;
    border-color: transparent;
    transition: all 0.3s ease-in-out;
}